<div id="topo">
<h1>Listing twittes of <%=@keyword.name%></h1>
</div>


<table>
  <tr>
	<th>Date</th>
    <th>From user</th>
    <th>Text</th>
  </tr>

<% @twittes.each do |twitte| %>
  <tr>
    <td><%= twitte.date %></td>
    <td><%= twitte.from_user %></td>
    <td><%= twitte.text %></td>

  </tr>
<% end %>
</table>

<br />
<%= link_to "Back to Keyword list", keywords_path %>
