<%- model_class = Twitte -%>
<div class="page-header">
  <h1><%=@keyword.name%> <%=t '.title', :default => model_class.model_name.human.pluralize %></h1>
<%= will_paginate @twittes, previous_label: h("<"), next_label: h(">") %>

</div>

<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:id) %></th>
      <th><%= model_class.human_attribute_name(:from_user) %></th>
      <th><%= model_class.human_attribute_name(:text) %></th>
      <th><%= model_class.human_attribute_name(:date) %></th>
      
    </tr>
  </thead>
  <tbody>
    <% @twittes.each do |twitte| %>
      <tr>
        <td><%= link_to twitte.id, keyword_twitte_path(@keyword.id, twitte) %></td>
        <td><%= twitte.from_user %></td>
        <td><%= twitte.text %></td>
        <td><%= twitte.date %></td>
        
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to t('.new', :default => t("helpers.links.new")),
            new_keyword_twitte_path(@keyword.id),
            :class => 'btn btn-primary' %>
