<%- model_class = Twitte -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human %></h1>
</div>

<dl class="dl-horizontal">
  <dt><strong><%= model_class.human_attribute_name(:id_str) %>:</strong></dt>
  <dd><%= @twitte.id_str %></dd>
  <dt><strong><%= model_class.human_attribute_name(:from_user) %>:</strong></dt>
  <dd><%= @twitte.from_user %></dd>
  <dt><strong><%= model_class.human_attribute_name(:from_user_id_str) %>:</strong></dt>
  <dd><%= @twitte.from_user_id_str %></dd>
  <dt><strong><%= model_class.human_attribute_name(:profile_image_url) %>:</strong></dt>
  <dd><%= @twitte.profile_image_url %></dd>
  <dt><strong><%= model_class.human_attribute_name(:text) %>:</strong></dt>
  <dd><%= @twitte.text %></dd>
  <dt><strong><%= model_class.human_attribute_name(:date) %>:</strong></dt>
  <dd><%= @twitte.date %></dd>
  <dt><strong><%= model_class.human_attribute_name(:keyword_id) %>:</strong></dt>
  <dd><%= @twitte.keyword_id %></dd>
</dl>

<div class="form-actions">
  <%= link_to t('.back', :default => t("helpers.links.back")),
              keyword_twittes_path(@keyword.id), :class => 'btn'  %>
  <%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_keyword_twitte_path(@keyword.id,@twitte), :class => 'btn' %>
  <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              keyword_twitte_path(@keyword.id, @twitte),
              :method => 'delete',
              :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')),
              :class => 'btn btn-danger' %>
</div>
